body
{
    overflow-x: hidden;
}

.first-div
{
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.buttons
{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-design
{
    display: grid;
    height: 30%;
    width: 100%;
    background-color:bisque;
    gap: 2vw;
    border: 2px solid black;
    padding: 2vw;
    grid-template-columns: 5% 15% 5% 30% 5%;
}